{{> burger_menu}}

<div id="team-manage">
    <h2>Manage all the users</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Date Add</th>
                <th>Date Update</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>
                    <p>{{this.firstname}} {{this.lastname}}</p>
                </td>
                <td>
                    <p>{{this.phonenumber}}</p>
                </td>
                <td>
                    <p>{{this.role}}</p>
                </td>
                <td>
                    <p>{{formatDate this.createdAt}}</p>
                </td>
                <td>
                    <p>{{formatDate this.updatedAt}}</p>
                </td>
                <td><a class="fas fa-edit" href="/dashboard/settings/admin/users/edit/{{this._id}}"></a></td>
                <td><a class="fas fa-trash" href="/dashboard/settings/admin/users/delete/{{this._id}}"></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<<<<<<< HEAD
<div id="manage-btn">
    <a href="/users/create">Add a new user</a>
</div>
=======
<a href="/dashboard/settings/admin/users/create/">Add a new user</a>
>>>>>>> 02123dd5da169b4b1ec48e2262c8638d89f1d889
