<div id="div-user-dashboard">
    <h1>{{currentUser.firstname}} {{currentUser.lastname}}</h1>
    <img id="avatar" src="{{currentUser.avatar}}" alt="{{currentUser.firstname}} {{currentUser.lastname}}">
</div>