{{> burger_menu}}
{{> current_user}}
{{> searchbar}}

<div id="client-bar">
    <span class="separator">Client ID: <span id="client-id">{{client.id}}</span></span> <span class="separator">Created
        on {{formatDate client.createdAt}}
        by {{currentUser.firstname}} {{currentUser.lastname}}</span> <a href="/account-management/delete/{{client._id}}"
        id="delete">
        <i class="fas fa-trash" id="client-trash"></i>Delete this client page</a></span>
</div>
<div id="client-page">
    <div id="client-infos">
        <table>
            <tbody>
                <tr id="firstname">
                    <td>First Name</td>
                    <td id="client-firstname">{{client.firstname}} <i class="fas fa-pencil-alt" id="edit-firstname"></i>
                    </td>
                </tr>
                <tr id="lastname">
                    <td>Last Name</td>
                    <td id="client-lastname">{{client.lastname}} <i class="fas fa-pencil-alt" id="edit-lastname"></i>
                    </td>
                </tr>
                <tr id="email">
                    <td>Email Address</td>
                    <td id="client-email">{{client.email}} <i class="fas fa-pencil-alt" id="edit-email"></i></td>
                <tr id="phonenumber">
                    <td>Phone Number</td>
                    <td id="client-phonenumber">{{client.phonenumber}} <i class="fas fa-pencil-alt"
                            id="edit-phonenumber"></i></td>
                </tr>
                <tr id="streetnumber">
                    <td>Street Number</td>
                    <td id="client-streetnumber">{{client.streetnumber}} <i class="fas fa-pencil-alt"
                            id="edit-streetnumber"></i></td>
                </tr>
                <tr id="street">
                    <td>Street</td>
                    <td id="client-street">{{client.street}} <i class="fas fa-pencil-alt" id="edit-street"></i></td>
                </tr>
                <tr id="zipcode">
                    <td>Zipcode</td>
                    <td id="client-zipcode">{{client.zipcode}} <i class="fas fa-pencil-alt" id="edit-zipcode"></i></td>
                </tr>
                <tr id="city">
                    <td>City</td>
                    <td id="client-city">{{client.city}} <i class="fas fa-pencil-alt" id="edit-city"></i></td>
                </tr>
                <tr id="country">
                    <td>Country</td>
                    <td id="client-country">{{client.country}} <i class="fas fa-pencil-alt" id="edit-country"></i></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="tasks">
        <h3>Tasks</h3>
        <div id="task-table">
            <table>
                <tbody>
                    {{#each client.task}}
                    <tr>
                        <td class="checkbox"><input type="checkbox"></td>
                        <td class="task-content">{{ this.task_associated }}</td>
                        <td class="task-date">{{ formatDate this.task_deadline }}</td>
                        <td class="task-priority">{{ this.priority }}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div id="add-task">
            <div>
                <input name="task_associated" type="text" placeholder="Task" id="write-task">
                <input name="task_deadline" type="date" placeholder="Date" id="date-task">
                <label for="priority">Priority</label>
                <select name="priority" id="priority">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </div>
            <div>
                <button>Add task</button>
            </div>
        </div>
    </div>

    <div id="file-upload">
        <div id="form-uploader">
            <form method="post" action="/account-management/edit/{{client._id}}" enctype="multipart/form-data">
                <label for="files" class="label">
                    <i class="icon fas fa-cloud-upload-alt fa-4x" id="cloud-uploader"></i>
                </label>
                <input class="is-hidden" type="file" id="files" name="files">
                <button type="submit">Send</button>
            </form>
        </div>

        <div id="uploaded-file-display">
            <h3>Documents :</h3>
            <ul>
                {{#each client.files}}
                <a href="{{this}}">
                    <li><i class="fas fa-file-word"></i></i></li>
                </a>
                {{/each}}
            </ul>
        </div>
    </div>

    <div id="comments-table">
        <h3>Comments</h3>
        <div id="comments-display">
            <table>
                <tbody>
                    {{#each client.comments}}
                    <tr>
                        <td class="comment">
                            <span>{{this}}</span><i class="fas fa-times trash-comment"></i>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div id="send-comment">
            <input type="text-area" name="comments" id="write-comment">
            <button id="comments-btn">Send</button>
        </div>

    </div>
</div>