<div id="client-page">
    <div id="client-infos">
        <table>
            <tbody>
                <tr>
                    <td>Client id</td>
                    <td id="client-id">{{client.id}}</td>
                </tr>
                <tr>
                    <td>Firstname</td>
                    <td id="client-firstname">{{client.firstname}} <i class="fas fa-pencil-alt"></i></td>
                    <td><input type="text" name="firstname" id="input-firstname"> <i class="fas fa-check"
                            id="check-firstname"></i> <i class="fas fa-times" id="erase-firstname"></i></td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td id="client-lastname">{{client.lastname}} <i class="fas fa-pencil-alt"></i></td>
                    <td><input type="text" name="lastname" id="input-lastname"> <i class="fas fa-check"
                            id="check-lastname"></i> <i class="fas fa-times" id="erase-lastname"></i></td>
                </tr>
                <tr>
                    <td>Email address</td>
                    <td id="client-email">{{client.email}} <i class="fas fa-pencil-alt"></i></td>
                    <td><input type="text" name="email" id="input-email"> <i class="fas fa-check" id="check-email"></i>
                        <i class="fas fa-times" id="erase-email"></i>
                    </td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td id="client-phonenumber">{{client.phonenumber}} <i class="fas fa-pencil-alt"></i></td>
                    <td><input type="text" name="phoneNumber" id="input-phonenumber"> <i class="fas fa-check"
                            id="check-phonenumber"></i> <i class="fas fa-times" id="erase-phonenumber"></i></td>
                </tr>
                <tr>
                    <td>Street number</td>
                    <td id="client-streetnumber">{{client.streetnumber}} <i class="fas fa-pencil-alt"></i></td>
                    <td><input type="text" name="streetNumber" id="input-streetnumber"> <i class="fas fa-check"
                            id="check-streetnumber"></i> <i class="fas fa-times" id="erase-streetnumber"></i></td>
                </tr>
                <tr>
                    <td>Street</td>
                    <td id="client-street">{{client.street}} <i class="fas fa-pencil-alt"></i></td>
                    <td><input type="text" name="street" id="input-street"> <i class="fas fa-check"
                            id="check-street"></i> <i class="fas fa-times" id="erase-street"></i></td>
                </tr>
                <tr>
                    <td>Zipcode</td>
                    <td id="client-zipcode">{{client.zipcode}} <i class="fas fa-pencil-alt"></i></td>
                    <td><input type="text" name="zipcode" id="input-zipcode"> <i class="fas fa-check"
                            id="check-zipcode"></i> <i class="fas fa-times" id="erase-zipcode"></i></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td id="client-city">{{client.city}} <i class="fas fa-pencil-alt"></i></td>
                    <td><input type="text" name="city" id="input-city"> <i class="fas fa-check" id="check-city"></i> <i
                            class="fas fa-times" id="erase-city"></i></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td id="client-country">{{client.country}} <i class="fas fa-pencil-alt"></i></td>
                    <td><input type="text" name="country" id="input-country"> <i class="fas fa-check"
                            id="check-country"></i> <i class="fas fa-times" id="erase-country"></i></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="tasks">
        <table>
            <tr>
                <th>Tasks</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>{{formatDate client.task_deadline}}</td>
                <td>{{client.task_associated}}</td>
            </tr>
        </table>
    </div>

    <div id="file-upload">
        <label for="files" class="label">
            Upload a file
            <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
        </label>
        <input class="is-hidden" type="file" id="files" name="files">
        <button class="btn">Send</button>
    </div>

    <div id="comments-table">
        <table>
            <thead>
                <tr>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {{#each client.comments}}
                <tr>
                    <td>{{this}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <input type="text-area" name="comments" id="write-comment">
        <button id="comments-btn">Send</button>

    </div>

    <a href="/account-management/delete/{{client._id}}">Delete</a>
</div>