{{> burger_menu}}

<div id="client-page">
    <div id="client-infos">
        <table>
            <tbody>
                <tr>
                    <td>Client id</td>
                    <td id="client-id">{{client.id}}</td>
                </tr>
                <tr id="firstname">
                    <td>Firstname</td>
                    <td id="client-firstname">{{client.firstname}} <i class="fas fa-pencil-alt" id="edit-firstname"></i>
                    </td>
                </tr>
                <tr id="lastname">
                    <td>Lastname</td>
                    <td id="client-lastname">{{client.lastname}} <i class="fas fa-pencil-alt" id="edit-lastname"></i>
                    </td>
                </tr>
                <tr id="email">
                    <td>Email address</td>
                    <td id="client-email">{{client.email}} <i class="fas fa-pencil-alt" id="edit-email"></i></td>
                <tr id="phonenumber">
                    <td>Phone number</td>
                    <td id="client-phonenumber">{{client.phonenumber}} <i class="fas fa-pencil-alt"
                            id="edit-phonenumber"></i></td>
                </tr>
                <tr id="streetnumber">
                    <td>Street number</td>
                    <td id="client-streetnumber">{{client.streetnumber}} <i class="fas fa-pencil-alt"
                            id="edit-streetnumber"></i></td>
                </tr>
                <tr id="street">
                    <td>Street</td>
                    <td id="client-street">{{client.street}} <i class="fas fa-pencil-alt" id="edit-street"></i></td>
                </tr>
                <tr id="zipcode">
                    <td>Zipcode</td>
                    <td id="client-zipcode">{{client.zipcode}} <i class="fas fa-pencil-alt" id="edit-zipcode"></i></td>
                </tr>
                <tr id="city">
                    <td>City</td>
                    <td id="client-city">{{client.city}} <i class="fas fa-pencil-alt" id="edit-city"></i></td>
                </tr>
                <tr id="country">
                    <td>Country</td>
                    <td id="client-country">{{client.country}} <i class="fas fa-pencil-alt" id="edit-country"></i></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="tasks">
        <table>
            <thead>
                <tr>
                    <th colspan ="3">Tasks</th>
                </tr>
            </thead>
            <tbody>
                {{#each client.task}}
                <tr>
                    <td class="checkbox"><input type="checkbox"></td>
                    <td class="task-content">{{ this.task_associated }}</td>
                    <td class="task-date">{{ formatDate this.task_deadline }}</td>
                    <td class="task-priority">{{ this.priority }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div id="add-task">
            <input name="task_associated" type="text" placeholder="Task" id="write-task">
            <input name="task_deadline" type="date" placeholder="Date" id="date-task">
            <label for="priority">Priority</label>
            <select name="priority" id="priority">
                <option value="3">Low</option>
                <option value="2">Medium</option>
                <option value="1">High</option>
            </select>
            <button>Add task</button>
        </div>
    </div>

    <div id="file-upload">
        <div>
            <label for="files" class="label">
            Upload a file
            <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
        </label>
        <input class="is-hidden" type="file" id="files" name="files">
        </div>
        <button class="btn">Send</button>
    </div>

    <div id="comments-table">
        <table>
            <thead>
                <tr>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {{#each client.comments}}
                <tr>
                    <td class="comment">
                        <span>{{this}}</span><i class="fas fa-times trash-comment"></i>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <input type="text-area" name="comments" id="write-comment">
        <button id="comments-btn">Send</button>

    </div>

    <div id="delete"><a href="/account-management/delete/{{client._id}}"><i class="fas fa-trash" id="client-trash"></i>Delete this client page</a></div>
</div>