{{> burger_menu}}
{{> current_user}}


<div id="wrapper-dashboard">
    <div id="company-manage">
        <h2>Last updated prospects</h2>
        {{#each lastProspects}}
        <p>{{this.firstname}} {{this.lastname}} {{this.company}} <a class="fas fa-envelope"
                href="mailto:{{this.email}}">Send an
                email</a>
        </p>
        {{/each}}
        <a href="/account-management"><i class="fas fa-address-book"></i> My prospects</a>
    </div>

    <div id="company-manage">
        <h2>Upcoming tasks</h2>
        {{#each lastTasks}}
        <p>{{this.task_associated}} {{formatDate this.task_deadline}}</p>
        {{/each}}
    </div>

    <div id="company-manage">
        <h2>Quick add</h2>
        <a class="fas fa-plus" href="/account-management/add">Add a new prospect</a>
    </div>

    <div id="company-manage">
        <canvas id="pie-chart" width="400" height="400"></canvas>
        <script>
            new Chart(document.getElementById("pie-chart"), {
                type: 'bar',
                data: {
                    labels: ["Low", "Medium", "High"],
                    datasets: [{
                        label: "Tasks",
                        backgroundColor: ["#17C106", "#F48D0A", "#F42A0A"],
                        data: [2, 5, 3]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Repartition of tasks'
                    }
                }
            });
        </script>
    </div>
</div>