{{> burger_menu}}


<h1>Welcome {{currentUser.firstname}}</h1>

<div id="wrapper-dashboard">
    <div id="company-manage">
        <h2>Your last updated prospects</h2>
        {{#each lastProspects}}
        <p>{{this.firstname}} {{this.lastname}} {{this.company}} <a class="fas fa-envelope"
                href="mailto:{{this.email}}">Send an
                email</a>
        </p>
        {{/each}}
        <a href="/account-management"><i class="fas fa-building"></i> Click here to access your prospects</a>
    </div>

    <div id="company-manage">
        <h2>Upcoming tasks</h2>
        {{#each lastTasks}}
        <p>{{this.task_associated}} {{formatDate this.task_deadline}}</p>
        {{/each}}
    </div>

    <div id="company-manage">
        <h2>Quick add</h2>
    </div>

    <div id="company-manage">
        <canvas id="pie-chart" width="400" height="400"></canvas>
        <script>
            new Chart(document.getElementById("pie-chart"), {
                type: 'bar',
                data: {
                    labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                    datasets: [{
                        label: "Population (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: [2478, 5267, 734, 784, 433]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Predicted world population (millions) in 2050'
                    }
                }
            });
        </script>
    </div>
</div>