{{> burger_menu}}
{{> current_user}}

<div id="wrapper-dashboard">
    <div id="company-manage">
        <h2>Last updated prospects</h2>
        <table id="table-dashboard">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each lastProspects}}
                <tr>
                    <td>
                        <p>{{this.firstname}} {{this.lastname}}</p>
                    </td>
                    <td>
                        <p> {{this.company}} </p>
                    </td>
                    <td>
                        <a class="fas fa-envelope" href="mailto:{{this.email}}"></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/account-management"><span class="fas fa-address-book"></span> My prospects</a>
    </div>

    <div id="company-manage">
        <h2>Upcoming tasks</h2>
        <table>
            <thead>
                <th>Task</th>
                <th>Deadline</th>
                <th>Priority</th>
            </thead>
            <tbody>
                {{#each lastTasks}}
                {{#each_upto this.task 5}}
                <tr>
                    <td>
                        <p>{{this.task_associated}}</p>
                    </td>
                    <td>
                        <p>{{formatDate this.task_deadline}}</p>
                    </td>
                    <td>
                        <p>{{this.priority}}</p>
                    </td>
                </tr>
                {{/each_upto}}
                {{/each}}
            </tbody>
        </table>
    </div>

    <div id="company-manage">
        <canvas id="line-chart" width="400" height="400"></canvas>
        <script>
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                    datasets: [{
                        label: "Prospects",
                        backgroundColor: "#3396FF",
                        hoverBackgroundColor: "#83BFFF",
                        data: [10, 13, 20, 17, 24, 30, 31]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Evolution of prospects'
                    }
                }
            });
        </script>
    </div>

    <div id="company-manage">
        <canvas id="pie-chart" width="400" height="400"></canvas>
        <script>
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    labels: ["Low", "Medium", "High"],
                    datasets: [{
                        label: "Tasks",
                        backgroundColor: ["#17C106", "#F48D0A", "#F42A0A"],
                        data: [2, 5, 3]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Repartition of tasks'
                    }
                }
            });
        </script>
    </div>
</div>