{{> burger_menu}}
{{> current_user}}


<div id="wrapper-dashboard">
    <div id="company-manage">
        <h2>Last updated prospects</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each lastProspects}}
                <tr>
                    <td>
                        <p>{{this.firstname}} {{this.lastname}}</p>
                    </td>
                    <td>
                        <p> {{this.company}} </p>
                    </td>
                    <td>
                        <a class="fas fa-envelope" href="mailto:{{this.email}}"></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/account-management"><span class="fas fa-address-book"></span> My prospects</a>
    </div>

    <div id="company-manage">
        <h2>Upcoming tasks</h2>
        {{#each lastTasks}}
        {{#each this.task}}
        <p>{{this.task_associated}} {{formatDate this.task_deadline}} {{this.priority}}</p>
        {{/each}}
        {{/each}}
    </div>

    <div id="company-manage">
        <h2>Quick add</h2>
        <a class="fas fa-plus" href="/account-management/add">Add a new prospect</a>
    </div>

    <div id="company-manage">
        <canvas id="pie-chart" width="400" height="400"></canvas>
        <script>
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    labels: ["Low", "Medium", "High"],
                    datasets: [{
                        label: "Tasks",
                        backgroundColor: ["#17C106", "#F48D0A", "#F42A0A"],
                        data: [2, 5, 3]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Repartition of tasks'
                    }
                }
            });
        </script>
    </div>
</div>