{{> burger_menu}}

<h1>Edit your profile</h1>

<form method="post" action="/users/edit/{{user._id}}" enctype="multipart/form-data">
    <div id="wrapper-sign-up">
        <input name="firstname" id="firstname" type="text" class="input" placeholder="First Name"
            value="{{user.firstname}}" required>
        <input name="lastname" id="lastname" type="text" class="input" placeholder="Last Name" value="{{user.lastname}}"
            required>
        <input name="phonenumber" id="phonenumber" type="tel" class="input" placeholder="Phone Number"
            value="{{user.phonenumber}}" required>
    </div>
    <div><img width="150px" src="{{user.avatar}}" alt="{{user.firstname}} {{user.lastname}}">
        <label for="avatar">
            <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
        </label>
        <input type="file" name="avatar">
    </div>
    <button id="btn-sign-up">Edit Profile</button>
</form>