{{> burger_menu}}
{{> current_user}}

<div id="team-manage">
    <h2>Manage your team</h2>
    <p>All the users</p>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Date Add</th>
                <th>Date Update</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>
                    <img width="50px" src="{{this.avatar}}" alt="{{this.firstname}}">
                </td>
                <td>
                    <p>{{this.firstname}} {{this.lastname}}</p>
                </td>
                <td>
                    <p>{{this.email}}</p>
                </td>
                <td>
                    <p>{{this.role}}</p>
                </td>
                <td>
                    <p>{{formatDate this.createdAt}}</p>
                </td>
                <td>
                    <p>{{formatDate this.updatedAt}}</p>
                </td>
                <td><a class="fas fa-edit" href="/users/edit/{{this._id}}"></a></td>
                <td><a class="fas fa-trash" href="/users/delete/{{this._id}}"></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="manage-btn">
    <a href="/users/create">Add a new user</a>
</div>