{{#each users}}
<p>{{this.firstname}} {{this.lastname}} {{this.email}} {{this.company}}</p>
<a href="/users/edit/{{this._id}}">Edit user</a>
<a href="/users/delete/{{this._id}}">Remove user</a>
{{/each}}