{{> burger_menu}}
{{> current_user}}

<div id="company-manage">
    <h2>Your company</h2>
    <div id="your-company"><img width="150px" src="{{currentUser.company.logo}}" alt="{{currentUser.company.name}}">
        <div>
            <h3>{{currentUser.company.name}}</h3>
            <address>{{currentUser.company.streetnumber}} {{currentUser.company.street}},
                {{currentUser.company.zipcode}},
                {{currentUser.company.city}}, {{currentUser.company.country}}</address>
            <p>{{currentUser.company.phonenumber}}</p>
        </div>
    </div>

    <a href="/dashboard/register/{{currentUser.company._id}}"><i class="fas fa-building"></i> Edit company</a>
</div>

<div id="team-manage">
    <h2>Manage your team</h2>
    <p>Last five users added for the company {{currentUser.company.name}}</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Date Add</th>
                <th>Date Update</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each membersTeam}}
            <tr>
                <td>
                    <p>{{this.firstname}} {{this.lastname}}</p>
                </td>
                <td>
                    <p>{{this.phonenumber}}</p>
                </td>
                <td>
                    <p>{{this.role}}</p>
                </td>
                <td>
                    <p>{{formatDate this.createdAt}}</p>
                </td>
                <td>
                    <p>{{formatDate this.updatedAt}}</p>
                </td>
                <td><a class="fas fa-edit" href="/users/edit/{{this._id}}"></a></td>
                <td><a class="fas fa-trash" href="/users/delete/{{this._id}}"></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="manage-btn">
        <a href="/users/create"><i class="fas fa-plus"></i> Add a new user to your team</a>
        <a href="/users/all"><i class="fas fa-user-cog"></i> Click here to manage all the users</a>
    </div>

</div>