{{> landing_nav}}

<div id="sign-up-container">
    {{#if warning_msg}}
    <p class="message {{msg.status}}">{{warning_msg}}</p>
    {{/if}}
    {{#if success_msg}}
    <p class="message {{msg.status}}">{{success_msg}}</p>
    {{/if}}
    {{#if error_msg}}
    <p class="message {{msg.status}}">{{error_msg}}</p>
    {{/if}}
    <h1>Start your demo</h1>
    <p>Leave us your contact in order to offer you a 14-day free trial</p>

    <form method="post" action="/signup" id="form_user">
        <div id="wrapper-sign-up">
            <input name="firstname" id="firstname" type="text" class="input" placeholder="First Name" required>
            <input name="lastname" id="lastname" type="text" class="input" placeholder="Last Name" required>
            <input name="email" id="email" type="email" class="input" placeholder="joe@company.com" required>
            <input name="phonenumber" id="phonenumber" type="tel" class="input" placeholder="Phone Number" required>
            <input name="password" id="password" type="password" class="input" placeholder="Password" required>
        </div>
        <button id="btn-sign-up">Sign up</button>
    </form>
    <p class="link">Already registered? Click <a href="/signin" class="btn">here</a></p>
</div>